<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/josephfrost/code/gr/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-06-03T15:16:12Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kZEyEtyxEvP4
								wq24fmtsKA==
								</data>
								<key>Size</key>
								<integer>4058</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/josephfrost/code/gr/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-06-03T15:16:12Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>hats.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8Mqilmv6M6fr
								gmxdx8YmyQ==
								</data>
								<key>Size</key>
								<integer>7595</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page2 - file:///Users/josephfrost/code/gr/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-06-03T13:20:23Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								riybDr+8wIwc
								ZU55FIdpUw==
								</data>
								<key>Size</key>
								<integer>3611</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>blog-2</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/josephfrost/code/gr/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-06-03T15:16:12Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/GR_Orange.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4HJGgEToLzEg
								kd2j5Enx4w==
								</data>
								<key>Size</key>
								<integer>105481</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								D24EE4QJW5Pi
								XuCC5M6wYQ==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								lYTy2fAeJ49q
								8hk9Mdt/6w==
								</data>
								<key>Size</key>
								<integer>311</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Users/josephfrost/code/gr/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-06-03T14:55:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>DALL·E-2023-06-01-00.08.04---stencil-picture-of-3-pandas-in-yellow-hats-having-a-meeting-painted-by-Banksy.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IiXWieS0zF0z
								/ClvYflj4g==
								</data>
								<key>Size</key>
								<integer>1803806</integer>
							</dict>
							<key>GR_Orange.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4HJGgEToLzEg
								kd2j5Enx4w==
								</data>
								<key>Size</key>
								<integer>105481</integer>
							</dict>
							<key>black-fedora.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2/adk7W5ek0
								T7hs8ke3xg==
								</data>
								<key>Size</key>
								<integer>939431</integer>
							</dict>
							<key>blue-fedora.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5yasnynRDUyN
								I/LmbZqRuQ==
								</data>
								<key>Size</key>
								<integer>1194205</integer>
							</dict>
							<key>green-fedora.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FySn3C4FihAx
								mph+s9kw5A==
								</data>
								<key>Size</key>
								<integer>1207639</integer>
							</dict>
							<key>red-fedora.png</key>
							<dict>
								<key>Digest</key>
								<data>
								17OrvzoY5M6b
								lpQ1JRsskA==
								</data>
								<key>Size</key>
								<integer>1301708</integer>
							</dict>
							<key>white-fedora.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tljcQpKIU7Qe
								pOcE7xBnfw==
								</data>
								<key>Size</key>
								<integer>1080128</integer>
							</dict>
							<key>yellow-fedora.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+g/SsQlvwcGp
								Bk3OPaWsNg==
								</data>
								<key>Size</key>
								<integer>1345577</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:blog - file:///Users/josephfrost/code/gr/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-06-03T13:20:23Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rss.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ySu0h74kFZbd
								w1d11rHDPA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>smiley_angry.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OsvBGlBtLs1C
								xAB3/F5vkA==
								</data>
								<key>Size</key>
								<integer>1275</integer>
							</dict>
							<key>smiley_embarrassed.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ok+zrbTJSQbz
								YHvbtXa5FQ==
								</data>
								<key>Size</key>
								<integer>1310</integer>
							</dict>
							<key>smiley_footinmouth.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oNlmERQNe+Jv
								bhxYf6Q/sQ==
								</data>
								<key>Size</key>
								<integer>1254</integer>
							</dict>
							<key>smiley_gasp.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3fIF+LsL4I97
								3PnZdsHYdg==
								</data>
								<key>Size</key>
								<integer>1208</integer>
							</dict>
							<key>smiley_laugh.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aiKkmJLIzkmw
								I7ENY7ns/A==
								</data>
								<key>Size</key>
								<integer>1283</integer>
							</dict>
							<key>smiley_sad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JrI6GFcEDYoD
								NPeCi0NJDQ==
								</data>
								<key>Size</key>
								<integer>1263</integer>
							</dict>
							<key>smiley_smile.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ek1FWaeOXYzG
								u9xa5IUf6A==
								</data>
								<key>Size</key>
								<integer>1240</integer>
							</dict>
							<key>smiley_wink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zIRR5aU+gUMZ
								uXop1aVLFA==
								</data>
								<key>Size</key>
								<integer>1236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:blog</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Climate - file:///Users/josephfrost/code/gr/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-06-03T14:55:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qKBOg+VFtHfr
								E4+ttn7DIQ==
								</data>
								<key>Size</key>
								<integer>178728</integer>
							</dict>
							<key>images/banners/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U6LGzWBNFTLW
								KphAybPxQw==
								</data>
								<key>Size</key>
								<integer>235084</integer>
							</dict>
							<key>js/main.js</key>
							<dict>
								<key>Digest</key>
								<data>
								V4k1K88unEg/
								xgRe0okQPg==
								</data>
								<key>Size</key>
								<integer>155286</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Climate</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Climate</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict>
					<key>1613A0F2-CC62-4273-B2EB-15CCF201A6A0</key>
					<dict>
						<key>fileName</key>
						<string>blue-fedora.png</string>
						<key>identifier</key>
						<string>1613A0F2-CC62-4273-B2EB-15CCF201A6A0</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/j9/gpjbl8317f74r2y5jnnz90kh0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-17201/8BreKF/blue-fedora.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>36E6FABE-A7F2-49AF-823A-CE3F906EB70E</key>
					<dict>
						<key>fileName</key>
						<string>black-fedora.png</string>
						<key>identifier</key>
						<string>36E6FABE-A7F2-49AF-823A-CE3F906EB70E</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/j9/gpjbl8317f74r2y5jnnz90kh0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-17201/CyrxhO/black-fedora.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>6E9645B4-4103-433B-8822-D023148FADEE</key>
					<dict>
						<key>fileName</key>
						<string>DALL·E 2023-06-01 00.08.04 - stencil picture of 3 pandas in yellow hats having a meeting painted by Banksy.png</string>
						<key>identifier</key>
						<string>6E9645B4-4103-433B-8822-D023148FADEE</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/j9/gpjbl8317f74r2y5jnnz90kh0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-17201/MWIkef/DALL·E 2023-06-01 00.08.04 - stencil picture of 3 pandas in yellow hats having a meeting painted by Banksy.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>86BCC015-2E8B-456A-945C-9F3DA15EB13B</key>
					<dict>
						<key>fileName</key>
						<string>GR_Orange.png</string>
						<key>identifier</key>
						<string>86BCC015-2E8B-456A-945C-9F3DA15EB13B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/j9/gpjbl8317f74r2y5jnnz90kh0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-17201/I5VCMA/GR_Orange.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>B8784BE3-BE23-4B77-B027-D90F8D4833BE</key>
					<dict>
						<key>fileName</key>
						<string>green-fedora.png</string>
						<key>identifier</key>
						<string>B8784BE3-BE23-4B77-B027-D90F8D4833BE</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/j9/gpjbl8317f74r2y5jnnz90kh0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-17201/NoYigk/green-fedora.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>BD1F5A07-7D23-4D61-A58D-643FE1FDEA04</key>
					<dict>
						<key>fileName</key>
						<string>yellow-fedora.png</string>
						<key>identifier</key>
						<string>BD1F5A07-7D23-4D61-A58D-643FE1FDEA04</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/j9/gpjbl8317f74r2y5jnnz90kh0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-17201/Hq20tz/yellow-fedora.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>EEB9B170-7F91-4F45-B043-7625CCF49334</key>
					<dict>
						<key>fileName</key>
						<string>white-fedora.png</string>
						<key>identifier</key>
						<string>EEB9B170-7F91-4F45-B043-7625CCF49334</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/j9/gpjbl8317f74r2y5jnnz90kh0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-17201/0ZoMV2/white-fedora.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>F1FF93E2-7739-40A7-8A43-996313E13F4F</key>
					<dict>
						<key>fileName</key>
						<string>red-fedora.png</string>
						<key>identifier</key>
						<string>F1FF93E2-7739-40A7-8A43-996313E13F4F</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/j9/gpjbl8317f74r2y5jnnz90kh0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-17201/fUYqML/red-fedora.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lv
				blkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0cxIAAYagXxAP
				TlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxBZAAsA
				DAAVABYAIAAhACIAJQAsADgASwBMAE0ATgBSAFUAWwBB
				AF0AYQBiAGYAcQByAHMAdAB3AH0AfgCCAIYAkQCSAJMA
				lACXAJ0AngCfAKoAqwCsAK0AsAC2ALcAuADDAMQAxQDG
				AMkAzwDQANEA3ADdAN4A3wDiAOgA6QDqAPUA9gD3APgA
				+wEBAQIBAwEOAQ8BEAERARQBGgEbARwBJwEoASkBKgEw
				ATMBNgE8AT0BQVUkbnVsbNMADQAOAA8AEAASABRXTlMu
				a2V5c1pOUy5vYmplY3RzViRjbGFzc6EAEYACoQATgAOA
				WFRub2Rl1QAXABgAGQAaAA8AGwAcAB0AHgAfVE5hbWVV
				aXRlbXNaaWRlbnRpZmllclhjaGlsZHJlboAFgAiABIAG
				gFdfECQwQkFDNzQ2NS1BRENBLTQ4MjQtQkFBOS05NDRC
				N0NGNTUxREFfEA9VbnRpdGxlZCBGb2xkZXLSAA4ADwAj
				ACSggAfSACYAJwAoAClaJGNsYXNzbmFtZVgkY2xhc3Nl
				c15OU011dGFibGVBcnJheaMAKAAqACtXTlNBcnJheVhO
				U09iamVjdNIADgAPAC0AJKkALgAvADAAMQAyADMANAA1
				ADaACYAVgB6AJoAugDaAPoBGgE6AB9oAOQA6AA8AOwA8
				AD0AFwA+AD8AQABBAEIAQwBEAEQARgBHAEgASQBKXlJl
				bW90ZVJlc291cmNlW09yaWdpbmFsVVJMXFB1Ymxpc2hl
				ZFVSTF1QdWJsaXNoZWREYXRlXxAPQ2hhbmdlZFN0YXR1
				c2VzWklkZW50aWZpZXJZVGltZVN0YW1wWUZpbGVUb2tl
				bgiAE4AUgACAAIAPgAuACoANgAxfECQ1RjQ0MjY2Ri02
				MTNFLTRGMDEtQTRGQS1BQjI2NzhGNTM5OEZdR1JfT3Jh
				bmdlLnBuZ18QJDg2QkNDMDE1LTJFOEItNDU2QS05NDVD
				LTlGM0RBMTVFQjEzQtIATwAPAFAAUVdOUy50aW1lI0HF
				FchesbMYgA7SACYAJwBTAFRWTlNEYXRlogBTACvTAA0A
				DgAPAFYAWABaoQBXgBChAFmAEYASXxAiZmlsZTovLy9V
				c2Vycy9qb3NlcGhmcm9zdC9jb2RlL2dyLwjSACYAJwBe
				AF9fEBNOU011dGFibGVEaWN0aW9uYXJ5owBeAGAAK1xO
				U0RpY3Rpb25hcnlfECovVXNlcnMvam9zZXBoZnJvc3Qv
				RG93bmxvYWRzL0dSX09yYW5nZS5wbmfSACYAJwBjAGRe
				UldTaXRlUmVzb3VyY2WiAGUAK15SV1NpdGVSZXNvdXJj
				ZdoAOQA6AA8AOwA8AD0AFwA+AD8AQABBAGgAQwBEAEQA
				bABtAG4AbwBwCIAcgBSAAIAAgBqAF4AWgBmAGF8QJEQ0
				Q0Q5NjFDLTUyMzItNDkyNi1CQkI4LTA3MDI4MjlCOTAx
				MW8QbgBEAEEATABMALcARQAgADIAMAAyADMALQAwADYA
				LQAwADEAIAAwADAALgAwADgALgAwADQAIAAtACAAcwB0
				AGUAbgBjAGkAbAAgAHAAaQBjAHQAdQByAGUAIABvAGYA
				IAAzACAAcABhAG4AZABhAHMAIABpAG4AIAB5AGUAbABs
				AG8AdwAgAGgAYQB0AHMAIABoAGEAdgBpAG4AZwAgAGEA
				IABtAGUAZQB0AGkAbgBnACAAcABhAGkAbgB0AGUAZAAg
				AGIAeQAgAEIAYQBuAGsAcwB5AC4AcABuAGdfECQ2RTk2
				NDVCNC00MTAzLTQzM0ItODgyMi1EMDIzMTQ4RkFERUXS
				AE8ADwB1AFEjQcUVyF6xs1uADtMADQAOAA8AeAB6AFqh
				AHmAG6EAWYARgBJfECJmaWxlOi8vL1VzZXJzL2pvc2Vw
				aGZyb3N0L2NvZGUvZ3Iv0gAPAH8AgACBWU5TLnN0cmlu
				Z4AdbxCLAC8AVQBzAGUAcgBzAC8AagBvAHMAZQBwAGgA
				ZgByAG8AcwB0AC8ARABvAHcAbgBsAG8AYQBkAHMALwBE
				AEEATABMALcARQAgADIAMAAyADMALQAwADYALQAwADEA
				IAAwADAALgAwADgALgAwADQAIAAtACAAcwB0AGUAbgBj
				AGkAbAAgAHAAaQBjAHQAdQByAGUAIABvAGYAIAAzACAA
				cABhAG4AZABhAHMAIABpAG4AIAB5AGUAbABsAG8AdwAg
				AGgAYQB0AHMAIABoAGEAdgBpAG4AZwAgAGEAIABtAGUA
				ZQB0AGkAbgBnACAAcABhAGkAbgB0AGUAZAAgAGIAeQAg
				AEIAYQBuAGsAcwB5AC4AcABuAGfSACYAJwCDAIRfEA9O
				U011dGFibGVTdHJpbmejAIMAhQArWE5TU3RyaW5n2gA5
				ADoADwA7ADwAPQAXAD4APwBAAEEAiABDAEQARACMAI0A
				jgCPAJAIgCWAFIAAgACAI4AggB+AIoAhXxAkRkZDNjI3
				QjAtNzYwRS00MTJCLUI3NzItNkU1QjU2NUUyMUYwXxAQ
				d2hpdGUtZmVkb3JhLnBuZ18QJEVFQjlCMTcwLTdGOTEt
				NEY0NS1CMDQzLTc2MjVDQ0Y0OTMzNNIATwAPAJUAUSNB
				xRXIXrGzbIAO0wANAA4ADwCYAJoAWqEAmYAkoQBZgBGA
				El8QImZpbGU6Ly8vVXNlcnMvam9zZXBoZnJvc3QvY29k
				ZS9nci9fEC0vVXNlcnMvam9zZXBoZnJvc3QvRG93bmxv
				YWRzL3doaXRlLWZlZG9yYS5wbmfaADkAOgAPADsAPAA9
				ABcAPgA/AEAAQQChAEMARABEAKUApgCnAKgAqQiALYAU
				gACAAIArgCiAJ4AqgClfECQyMUU2RDU0RC04MjY3LTRG
				MkMtOUI0QS1EREIwNTc0OTMxNzFfEBF5ZWxsb3ctZmVk
				b3JhLnBuZ18QJEJEMUY1QTA3LTdEMjMtNEQ2MS1BNThE
				LTY0M0ZFMUZERUEwNNIATwAPAK4AUSNBxRXIXrGzhYAO
				0wANAA4ADwCxALMAWqEAsoAsoQBZgBGAEl8QImZpbGU6
				Ly8vVXNlcnMvam9zZXBoZnJvc3QvY29kZS9nci9fEC4v
				VXNlcnMvam9zZXBoZnJvc3QvRG93bmxvYWRzL3llbGxv
				dy1mZWRvcmEucG5n2gA5ADoADwA7ADwAPQAXAD4APwBA
				AEEAugBDAEQARAC+AL8AwADBAMIIgDWAFIAAgACAM4Aw
				gC+AMoAxXxAkREU5NjNGMEEtNEVGMS00Q0FELUE1MTAt
				MUU1MDdBMTY3OTU2XxAQYmxhY2stZmVkb3JhLnBuZ18Q
				JDM2RTZGQUJFLUE3RjItNDlBRi04MjNBLUNFM0Y5MDZF
				QjcwRdIATwAPAMcAUSNBxRXIXrGzloAO0wANAA4ADwDK
				AMwAWqEAy4A0oQBZgBGAEl8QImZpbGU6Ly8vVXNlcnMv
				am9zZXBoZnJvc3QvY29kZS9nci9fEC0vVXNlcnMvam9z
				ZXBoZnJvc3QvRG93bmxvYWRzL2JsYWNrLWZlZG9yYS5w
				bmfaADkAOgAPADsAPAA9ABcAPgA/AEAAQQDTAEMARABE
				ANcA2ADZANoA2wiAPYAUgACAAIA7gDiAN4A6gDlfECQx
				NzlBNTcxRC03NTZFLTQ5NzQtQjlBQS0wNTdEMzQzNzQ5
				MDFecmVkLWZlZG9yYS5wbmdfECRGMUZGOTNFMi03NzM5
				LTQwQTctOEE0My05OTYzMTNFMTNGNEbSAE8ADwDgAFEj
				QcUVyF6xs7eADtMADQAOAA8A4wDlAFqhAOSAPKEAWYAR
				gBJfECJmaWxlOi8vL1VzZXJzL2pvc2VwaGZyb3N0L2Nv
				ZGUvZ3IvXxArL1VzZXJzL2pvc2VwaGZyb3N0L0Rvd25s
				b2Fkcy9yZWQtZmVkb3JhLnBuZ9oAOQA6AA8AOwA8AD0A
				FwA+AD8AQABBAOwAQwBEAEQA8ADxAPIA8wD0CIBFgBSA
				AIAAgEOAQIA/gEKAQV8QJDY4QTUzMzdCLTU3OEMtNEM2
				QS1CMTlELUUzMDNCNTE1RUQwRl8QEGdyZWVuLWZlZG9y
				YS5wbmdfECRCODc4NEJFMy1CRTIzLTRCNzctQjAyNy1E
				OTBGOEQ0ODMzQkXSAE8ADwD5AFEjQcUVyF6xs9CADtMA
				DQAOAA8A/AD+AFqhAP2ARKEAWYARgBJfECJmaWxlOi8v
				L1VzZXJzL2pvc2VwaGZyb3N0L2NvZGUvZ3IvXxAtL1Vz
				ZXJzL2pvc2VwaGZyb3N0L0Rvd25sb2Fkcy9ncmVlbi1m
				ZWRvcmEucG5n2gA5ADoADwA7ADwAPQAXAD4APwBAAEEB
				BQBDAEQARAEJAQoBCwEMAQ0IgE2AFIAAgACAS4BIgEeA
				SoBJXxAkMjVCMzM4MzYtMzc4NS00NUY4LTk3RkQtQzcx
				MzlGMTBGQTM3XxAPYmx1ZS1mZWRvcmEucG5nXxAkMTYx
				M0EwRjItQ0M2Mi00MjczLUIyRUItMTVDQ0YyMDFBNkEw
				0gBPAA8BEgBRI0HFFchesbPhgA7TAA0ADgAPARUBFwBa
				oQEWgEyhAFmAEYASXxAiZmlsZTovLy9Vc2Vycy9qb3Nl
				cGhmcm9zdC9jb2RlL2dyL18QLC9Vc2Vycy9qb3NlcGhm
				cm9zdC9Eb3dubG9hZHMvYmx1ZS1mZWRvcmEucG5n2gA5
				ADoADwA7ADwAPQAXAD4APwBAAR0ARABDASAARAEiASMB
				JAElASYJgACAFIBSgACAVYBQgE+AVIBRXxAkQTQ0OEYy
				NDAtQURCNC00NTQyLTg3QTMtODRBMkU0M0IyNjk3VXdh
				dGNoXxAraHR0cHM6Ly93d3cueW91dHViZS5jb20vd2F0
				Y2g/dj1VWjh2RjhIUldFNNMBKwAPASwARAEuASZXTlMu
				YmFzZVtOUy5yZWxhdGl2ZYAAgFOAUdIAJgAnATEBMlVO
				U1VSTKIBMQAr0gBPAA8BNABRI0HFFchesbPygA7TAA0A
				DgAPATcBOQBaoQE4gFahAFmAEYASXxAiZmlsZTovLy9V
				c2Vycy9qb3NlcGhmcm9zdC9jb2RlL2dyL9IAJgAnAT4B
				P1xSV1NpdGVGb2xkZXKiAUAAK1xSV1NpdGVGb2xkZXLS
				ACYAJwBgAUKiAGAAKwAIABkAIgAsADEAOgA/AFEAVgBb
				AF0BEgEYASUBLQE4AT8BQgFEAUcBSQFLAVABZQFqAXAB
				ewGEAYYBiAGKAYwBjgG1AccB0AHRAdMB3AHnAfAB/wIG
				Ag4CFwIgAjMCNQI3AjkCOwI9Aj8CQQJDAkUCRwJwAn8C
				iwKYAqYCuALDAs0C1wLYAtoC3ALeAuAC4gLkAuYC6ALq
				AxEDHwNGA08DVwNgA2IDawNyA3cDhAOHA4kDjAOOA5AD
				tQO2A78D1QPcA+kEFgQfBC4EMwRCBGsEbARuBHAEcgR0
				BHYEeAR6BHwEfgSlBYQFqwW0Bb0FvwXMBc8F0QXUBdYF
				2AX9BgYGEAYSBysHNAdGB00HVgd/B4AHggeEB4YHiAeK
				B4wHjgeQB5IHuQfMB/MH/AgFCAcIFAgXCBkIHAgeCCAI
				RQh1CJ4InwihCKMIpQinCKkIqwitCK8IsQjYCOwJEwkc
				CSUJJwk0CTcJOQk8CT4JQAllCZYJvwnACcIJxAnGCcgJ
				ygnMCc4J0AnSCfkKDAozCjwKRQpHClQKVwpZClwKXgpg
				CoUKtQreCt8K4QrjCuUK5wrpCusK7QrvCvELGAsnC04L
				VwtgC2ILbwtyC3QLdwt5C3sLoAvOC/cL+Av6C/wL/gwA
				DAIMBAwGDAgMCgwxDEQMawx0DH0MfwyMDI8MkQyUDJYM
				mAy9DO0NFg0XDRkNGw0dDR8NIQ0jDSUNJw0pDVANYg2J
				DZINmw2dDaoNrQ2vDbINtA22DdsOCg4zDjQONg44DjoO
				PA4+DkAOQg5EDkYObQ5zDqEOrg62DsIOxA7GDsgO0Q7X
				DtwO5Q7uDvAO/Q8ADwIPBQ8HDwkPLg83D0QPSQ9WD18A
				AAAAAAACAgAAAAAAAAFDAAAAAAAAAAAAAAAAAAAPZA==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>5F44266F-613E-4F01-A4FA-AB2678F5398F</string>
					<key>BaseURL</key>
					<string>https://gr-pandas.netlify.app/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string></string>
					<key>CopyrightText</key>
					<string>© 2023 GR</string>
					<key>CopyrightTextUsed</key>
					<false/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va7ACAAAAAAQQMAAA
							ANIDtXciwujcBDWd3BkA
							b3G+tWoh2FMV9c4S/+0M
							OI+3rAEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAGpv
							c2VwaGZyb3N0AAQAAAAB
							AQAAY29kZQIAAAABAQAA
							Z3IAABAAAAABBgAAEAAA
							ACAAAAA0AAAAQAAAAAgA
							AAAEAwAAmjgAAAAAAAAI
							AAAABAMAAFwtBgAAAAAA
							CAAAAAQDAABt7wsAAAAA
							AAgAAAAEAwAAPEW/AAAA
							AAAQAAAAAQYAAGQAAAB0
							AAAAhAAAAJQAAAAIAAAA
							AAQAAEHFFZlgPfn+GAAA
							AAECAAACAAAAAAAAAA8A
							AAAAAAAAAAAAAAAAAAAI
							AAAABAMAAAIAAAAAAAAA
							BAAAAAMDAAD1AQAACAAA
							AAEJAABmaWxlOi8vLwwA
							AAABAQAATWFjaW50b3No
							IEhECAAAAAQDAAAAIEWM
							0AEAAAgAAAAABAAAQcS5
							GsMAAAAkAAAAAQEAADZG
							NjhEMkIxLUNCMDUtNDlC
							NC05QzAwLTlBMzFCNjky
							NTIxRhgAAAABAgAAgQAA
							AAEAAADvEwAAAQAAAAAA
							AAAAAAAAAQAAAAEBAAAv
							AAAAAAAAAAEFAADMAAAA
							/v///wEAAAAAAAAAEAAA
							AAQQAABMAAAAAAAAAAUQ
							AACkAAAAAAAAABAQAADM
							AAAAAAAAAEAQAAC8AAAA
							AAAAAAIgAACYAQAAAAAA
							AAUgAAAIAQAAAAAAABAg
							AAAYAQAAAAAAABEgAABM
							AQAAAAAAABIgAAAsAQAA
							AAAAABMgAAA8AQAAAAAA
							ACAgAAB4AQAAAAAAADAg
							AACkAQAAAAAAAAHAAADs
							AAAAAAAAABHAAAAgAAAA
							AAAAABLAAAD8AAAAAAAA
							ABDQAAAEAAAAAAAAAA==
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>code/gr</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RWBadge</key>
					<string>{"imageAlt":"RapidWeaver Icon","delayType":"time","position":"bottomLeft","hiddenOnDesktop":false,"hiddenOnMobile":false,"url":"https:\/\/www.realmacsoftware.com","openInNewWindow":true,"hiddenOnTablet":false,"delayMillis":1000,"enabled":false,"text":"Made in RapidWeaver","colorScheme":"auto","transition":"slide","useDefaultImage":true,"delayDistance":30}</string>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLogoIdentifier</key>
					<string>5F44266F-613E-4F01-A4FA-AB2678F5398F</string>
					<key>SloganText</key>
					<string>think different</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Climate</string>
					<key>TitleText</key>
					<string>GR</string>
					<key>TitleTextUsed</key>
					<false/>
					<key>UniqueBackupName</key>
					<string>5F0815D9-25E6-48A1-AF2E-C842F2C136F0_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalBodyStart</key>
					<string></string>
					<key>globalCSS</key>
					<string>#hero {
	height: 1vh;
}
</string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalBodyStart</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<false/>
					<key>webServerPHPVersion</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
