<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>1613A0F2-CC62-4273-B2EB-15CCF201A6A0</string>
				<string>36E6FABE-A7F2-49AF-823A-CE3F906EB70E</string>
				<string>6E9645B4-4103-433B-8822-D023148FADEE</string>
				<string>86BCC015-2E8B-456A-945C-9F3DA15EB13B</string>
				<string>B8784BE3-BE23-4B77-B027-D90F8D4833BE</string>
				<string>BD1F5A07-7D23-4D61-A58D-643FE1FDEA04</string>
				<string>EEB9B170-7F91-4F45-B043-7625CCF49334</string>
				<string>F1FF93E2-7739-40A7-8A43-996313E13F4F</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Resources</string>
</dict>
</plist>
